extends layout.pug

block content
  form(action=`/blogentry/${entry.id}?_method=PUT`, method="post") 
    textarea(name="title", cols="30", rows="1")= entry.title
    textarea(name="text", cols="30", rows="10")= entry.text
    br
    button(type="submit") Edit
  
  a(href=`/blogentry/${entry.id}`)
    button(type="button") Cancel