html
  head
    link(rel="stylesheet", href="/css/style.css")
    link(href="https://unpkg.com/filepond/dist/filepond.css", rel="stylesheet")
    link(href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css", rel="stylesheet")
    script(defer src="https://unpkg.com/filepond/dist/filepond.js")
    script(defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js")
    script(defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js")
    script(defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js")
    script(defer src="/javascripts/fileUpload.js")
    title My Blog
  body
    block header
      include header.pug
    br
    block content
      p default content
    br
    footer
      block footer 
        include footer.pug