extends layout.pug

block content
  form(action="newEntry", method="post")
    div
      input(type="text", name="title", placeholder="Title")
      input(type="text", name="text", placeholder="Text here...")
    div
      input(type="submit" value="Create")
    div
      input(type="file", name="image", class="filepond")
    