block footer
  - var n = parseInt(((blogentriesCount.length)- 1) / 10) + 1
  - var i = 1
  ul(class="paginationList")
    while i <= n
      li
        a(href=`/?page=${i}&limit=10`)
          p= i++
