extends layout.pug

block content
  p=entry.title
  p=entry.text
  br
  a(href=`/blogentry/${entry.id}/edit`)
    button(type="button") Edit
  form(action=`/blogentry/${entry.id}/?_method=DELETE`, method="post")
    button(type="submit") Delete