extends layout.pug

block content
  include entry.pug
  br
  div(class="btnDiv")
    a(href=`/blogentry/${entry.id}/edit`)
      button(type="button") Edit
    form(action=`/blogentry/${entry.id}/?_method=DELETE`, method="post")
      button(type="submit") Delete